* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

.header {
  background-color: #625e5ef2;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: fixed;
  z-index: 10000;
}

.header .icon-container a {
  font-size: 20px;
}
/* Sirve para cuando se dezliza el scroll-bar deje un margin en la parte superior que se quiere mostrar */
#about,
#skills,
#contact {
  scroll-margin-top: 75px;
}

.header .list-container .list-nav li {
  height: 100%;
  list-style: none;
  transition: 0.15s;
}

.header a {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s;
}

.header .list-container .list-nav {
  display: flex;
  gap: 20px;
}

.header .list-container .list-nav li:hover {
  transform: scale(1.1);
}
.header .list-container .list-nav li a:hover {
  color: #bbbbbb;
}
.header .icon-container a:hover {
  color: #bbbbbb;
}

/* Cada uno de los elementos del nav debe dirigir al usuario al sector mencionado en la pagina */

/* TABLETS */
/* TABLETS */

/* LAPTOPS */
/* LAPTOPS */
/* LARGE */
/* LARGE */

/* -------------------------------------------- MAIN ------------------------------------------ */

/* General */

h2,
h4 {
  margin: 20px 0px;
}

.no-home section {
  margin: 100px 0px;
}

.no-home {
  padding: 0px 100px;
  font-size: 20px;
}

/* General */

/* Home */

.home .img-name {
  background-image: url(./imgs/imgs/codigo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home .img-name .background {
  background-color: rgba(161, 148, 148, 0.8);
  display: flex;
  gap: 20px;
  padding: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.home .img-name .background img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.home .img-name .background .name {
  font-size: 30px;
  color: #222;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home .img-name .background .name a {
  text-decoration: none;
  color: #222;
}

/* Home */

/* ------------------------------------------------------------------------ */

/* Texto de presentación */
.about .presentation {
  display: flex;
  gap: 50px;
}

.about .presentation p {
  width: 50%;
  line-height: 2;
}
.about .presentation .projects {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  border: 3px solid blue;
}

.presentation .projects .flex-item {
  border: 2px solid red;
  flex-basis: 50%;
  padding: 10px;
  border-radius: 15px;
}

.presentation .projects .flex-item img {
  height: 100%;
  width: 100%;
}

/* Texto Presentación */

/* ------------------------------------------------------------------------ */

/* Habilidades */

.no-home .skills .tecnologies {
  display: flex;
  gap: 50px;
}

.skills .skills-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills .tecnologies .tecnologies-item {
  width: 50%;
}

.skills .tecnologies h4 {
  text-align: center;
}
.skills img {
  height: 150px;
}
.skills .tecnologies .skills-container figure figcaption {
  text-align: center;
}

/* Habilidades */

/* ------------------------------------------------------------------------ */

/* Contact Section */

.no-home .contact .contact-methods {
  display: flex;
  margin-top: 75px;
  justify-content: space-evenly;
  height: 100px;
}
.no-home .contact .contact-methods span {
  padding: 3px;
  transition: 0.2s;
}

.no-home .contact .contact-methods i {
  display: block;
  text-align: center;
  font-size: 50px;
  line-height: 0.3;
}
.no-home .contact .contact-methods a {
  color: rgba(58, 54, 54, 0.9);
  text-decoration: none;
}

.no-home .contact .contact-methods span:hover {
  transform: scale(1.1);
}

/* Contact Section */

/* ---------------------------------------- FOOTER -------------------------------------------------- */

.footer {
  background-color: #625e5ee6;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .copyright {
  color: #fff;
  text-align: center;
  font-size: 0.9em;
}

.footer .copyright a {
  text-decoration: none;
  color: #fff;
}

/* PHONES */

/* para hacerlo responsive tengo que obtener la información del DOM, buscar el dato window.innerWidth para obtener el ancho, y window.innerHeight para obtener el alto. Entonces creamos una función en header.component.ts que nos diga que si la pantalla es <= 600 px que agregue el atributo que haga que se convierta en responsive */

@media only screen and (max-width: 600px) {
  /* GENERAL */

  h2,
  h4 {
    text-align: center;
  }

  .no-home {
    padding: 0 50px;
    font-size: 1em;
  }

  /* GENERAL */

  /* HEADER */

  .header {
    height: 100px;
    width: 100vw;
  }
  .header .icon-container {
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
  }
  .header .icon-container a {
    font-size: 30px;
  }

  /* hacer aparecer cuando se aprete en burger-icon */
  .header .list-container {
    visibility: hidden;
    background-color: #625e5ef2;
    position: absolute;
    top: 100px;
    left: 0;
  }

  /* El list-nav tiene que estar hidden hasta que se aprete el boton */

  .header .list-container .list-nav {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 0;
  }
  .header .list-container .list-nav li {
    height: 100px;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
  .header .list-container .list-nav li:hover {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }
  .header .burger-icon {
    color: #ffffff;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
  }
  .header .burger-icon i {
    font-size: 30px;
    transition: 0.2s;
  }
  .header .burger-icon i:hover {
    color: #bbbbbb;
  }

  /* HEADER */

  /* HOME */

  .home .background {
    padding: 50px;
    flex-direction: column;
  }
  .home .background .name {
    text-align: center;
  }

  .home .background .name span {
    font-size: 0.9em;
    font-weight: bold;
  }
  .home .img-name {
    background-size: cover;
  }
  .about .presentation {
    flex-direction: column;
    text-align: center;
  }

  /* HOME */

  /* ABOUT */
  .about .presentation .texto-presentacion,
  .about .presentation .projects {
    width: 100%;
  }

  .about .presentation .projects {
    overflow-x: scroll;
    padding: 8px;
    width: 100%;
    height: 360px;
    scroll-snap-type: x mandatory;
    scroll-padding: 8px;
    gap: 12px;
    flex-wrap: nowrap;
  }

  .presentation .projects .flex-item {
    flex: 0 0 100%;
    padding: 24px;
    scroll-snap-align: start;
  }

  /* ABOUT */

  /* SKILLS */

  .skills .tecnologies {
    flex-direction: column;
  }

  .skills .tecnologies .tecnologies-item {
    width: 100%;
    padding: 15px;
  }

  .skills .tecnologies .tecnologies-item figure {
    width: calc(50% - 30px);
  }
  .skills .tecnologies .tecnologies-item figure img {
    width: 100%;
  }
  .skills .skills-container {
    padding: 10px;
    justify-content: space-evenly;
  }

  /* SKILLS */

  /* CONTACT */

  /* SE VOLVIO A BUGEAR, ENCONTRAR SOLUCION */

  .contact .contact-methods {
    margin-top: 30px;
    flex-wrap: wrap;
    height: 150px;
    gap: 20px;
  }
  .contact .contact-methods span {
    text-align: center;
    width: calc(50% - 20px);
  }

  /* CONTACT */
}

/* PHONES */
