* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

#about,
#skills {
  scroll-margin-top: 75px;
}

/* General */
h2,
h4 {
  margin: 20px 0px;
}

.no-home {
  padding: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/* HEADER */

.header {
  background-color: #625e5ef2;
  width: 100%;
  height: 50px;
  padding: 0 5%;
  position: fixed;
  z-index: 10000;
}

.header .list-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .list-container .icon-container {
  font-size: 1.3em;
  width: 50px;
  height: 100%;
  display: grid;
  place-items: center;
}

.header .list-container .list-nav {
  display: flex;
  gap: 30px;
}

.header .list-container .list-nav li {
  list-style: none;
  transition: 0.2s;
}

.header .list-container .list-nav li:hover {
  transform: scale(1.1);
}

.header a {
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}

.header .list-container .list-nav a {
  color: #bbbbbb;
}

.header .list-container .list-nav a:hover {
  color: #fff;
}

.header .list-container .icon-container a:hover {
  color: #bbb;
}

.header .burger-icon {
  display: none;
}

/* ACTIVE - NAVBAR */
.header li.active {
  transform: scale(1.1);
}
.header .list-container .list-nav li.active a {
  color: #fff;
}

/* MAIN */

/* Home */

.home .img-name {
  background-image: url(imgs/imgs/codigo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home .img-name .background {
  background-color: rgba(161, 148, 148, 0.8);
  display: flex;
  gap: 20px;
  padding: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home .img-name .background img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.home .img-name .background .name {
  font-size: 30px;
  color: #222;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home .img-name .background .name a {
  text-decoration: none;
  color: #222;
}

/* About */

.about .presentation p {
  line-height: 2;
}

.about .tecnologies {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about .skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}

.about .about_presentation-tecnologies {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about .tecnologies h4 {
  text-align: center;
}
.tecnologies img {
  height: 150px;
}
.tecnologies .skills-container figure figcaption {
  text-align: center;
}

/* Portfolio */

.skills .projects {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, minmax(175px, 1fr));
  grid-template-rows: 275px;
}

.skills .projects .grid-item {
  height: 100%;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.skills .projects a {
  color: #000;
  text-decoration: none;
}

.skills .projects .grid-item img {
  border-radius: 15px;
  height: calc(100% - 27px);
  width: 100%;
}

/* Contact */

.contact .contact-methods {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 88px;
  grid-auto-rows: 88px;
  gap: 100px;
  padding: 10px;
  margin-top: 50px;
}

.contact .contact-methods i {
  font-size: 50px;
}

.contact .contact-methods a {
  color: rgba(58, 54, 54, 0.9);
  text-decoration: none;
}

.contact .contact-methods .contact-item {
  padding: 5px;
  text-align: center;
  transition: 0.2s;
}

.contact .contact-methods .contact-item:hover {
  transform: scale(1.1);
}

/* FOOTER */

.footer {
  background-color: #625e5ee6;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .copyright {
  color: #fff;
  text-align: center;
  font-size: 0.9em;
}

.footer .copyright a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  h2,
  h4,
  p {
    text-align: center;
  }

  /* HEADER */

  .header .burger-icon {
    width: 50px;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 20px;
  }

  .header .burger-icon i {
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
  }
  .header .burger-icon i:active {
    color: #bbb;
  }

  .header .list-container .icon-container a:hover {
    color: #fff;
  }

  .header .list-container .icon-container a:active {
    color: #bbb;
  }

  .header .list-container .list-nav {
    background-color: #625e5ef2;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: -25%;
    gap: 0;
    width: 25%;
    transition: transform 0.3s linear;
    transform: translateX(0);
  }

  .header .list-container ul.menu-show {
    transform: translateX(-100%);
  }

  .header .list-container .list-nav a {
    display: block;
    text-align: center;
    line-height: 3;
    transition: 0.2s;
  }

  .header .list-container .list-nav a:hover {
    color: #fff;
  }

  .header .list-container .list-nav li:hover {
    transform: none;
  }

  .header .list-container .list-nav li:active {
    background-color: #847f7ff8;
  }

  /* MAIN */

  /* About */
  .about .tecnologies .skills-container figure {
    text-align: center;
    flex-basis: 25%;
  }

  /* Portfolio */

  .skills .projects {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 275px 275px;
  }

  .skills .projects a:last-child {
    grid-column: 2 / span 1;
  }
}

@media screen and (max-width: 900px) {
  /* HEADER */

  .header .list-container .list-nav {
    right: -100%;
    width: 100%;
    transform: translateX(0);
  }

  .header .list-container ul.menu-show {
    transform: translateX(-100%);
  }

  /* MAIN */

  /* Home */

  .home .img-name .background {
    flex-direction: column;
  }

  .home .img-name .background span {
    text-align: center;
  }

  /* About */

  .about .tecnologies .skills-container figure {
    text-align: center;
    flex-basis: 33.33%;
  }

  /* Portfolio */

  .skills .projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 275px 275px;
  }
  .skills .projects a:last-child {
    grid-column: span 1;
  }

  /* Contact */

  .contact .contact-methods {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 88px 88px;
    padding: 10px 70px;
    row-gap: 50px;
  }
}

@media screen and (max-width: 650px) {
  /* General */

  .home,
  .no-home {
    font-size: 19px;
  }

  .no-home {
    padding: 100px 10px;
  }

  /* HEADER */

  .header .list-container .list-nav {
    height: 100vh;
  }

  /* MAIN */

  /* Home */

  .home .img-name .background {
    flex-direction: column;
  }

  .home .img-name .background span {
    text-align: center;
  }

  /* About */

  .about .tecnologies .skills-container figure {
    text-align: center;
    flex-basis: 33%;
  }

  /* Portfolio */

  .skills .projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 220px;
    padding: 0;
  }

  /* Contact */

  .contact .contact-methods {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 88px 88px;
    padding: 10px 70px;
    row-gap: 50px;
  }
}

/* linea para decorar cuando pongan la pantalla en horizontal */
/* @media screen and (max-width: 449px) and (orientation: landscape){}  */
@media screen and (max-width: 550px) {
  .no-home {
    padding: 60px 10px;
    gap: 50px;
  }

  /* MAIN */

  /* Home */

  .home .img-name .background .name {
    text-align: center;
  }

  /* About */

  .about .presentation p {
    font-size: 0.9em;
  }

  .about .tecnologies img {
    height: 100px;
  }

  /* Portfolio */

  .skills .projects {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 200px);
    justify-content: center;
  }

  /* Contact */

  .contact .contact-methods {
    gap: 50px;
  }
}

@media screen and (max-width: 400px) {
  /* Contact */

  .contact .contact-methods {
    padding: 0;
    gap: 30px 0;
  }
}
