/* COMPUTADORA */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

.header {
  background-color: #625e5ef2;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: fixed;
  z-index: 10000;
}

.header .icon-container {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  font-size: 20px;
}
/* Sirve para cuando se dezliza el scroll-bar deje un margin en la parte superior que se quiere mostrar */
#about,
#skills,
#contact {
  scroll-margin-top: 75px;
}

.header .list-container .list-nav li {
  display: grid;
  place-items: center;
  list-style: none;
  color: #fff;
  transition: 0.2s;
}
.header .list-container .list-nav li:hover {
  transform: scale(1.1);
}
.header a:hover {
  color: #bbbbbb;
}

.header a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s;
}

.header .burger-icon {
  display: none;
}

.header .list-container .list-nav {
  display: flex;
  gap: 30px;
}
/* -------------------------------------------- MAIN ------------------------------------------ */

/* General */

h2,
h4 {
  margin: 20px 0px;
}

.no-home {
  padding: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/* General */

/* Home */

.home .img-name {
  background-image: url(imgs/imgs/codigo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home .img-name .background {
  background-color: rgba(161, 148, 148, 0.8);
  display: flex;
  gap: 20px;
  padding: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home .img-name .background img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.home .img-name .background .name {
  font-size: 30px;
  color: #222;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home .img-name .background .name a {
  text-decoration: none;
  color: #222;
}

/* Home */

/* ------------------------------------------------------------------------ */

/* ABOUT */

.about .presentation p {
  line-height: 2;
}

.about .tecnologies {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about .skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}

.about .about_presentation-tecnologies {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about .tecnologies h4 {
  text-align: center;
}
.tecnologies img {
  height: 150px;
}
.tecnologies .skills-container figure figcaption {
  text-align: center;
}

/* ABOUT */

/* PORTFOLIO */

.skills .projects {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, minmax(175px, 1fr));
  grid-template-rows: 275px;
  border: 3px solid blue;
}

.skills .projects .grid-item {
  border: 2px solid red;
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

.skills .projects a {
  color: #000;
  text-decoration: none;
}

.skills .projects .grid-item img {
  height: calc(100% - 27px);
  width: 100%;
}

/* PORTFOLIO */

/* ------------------------------------------------------------------------ */

/* CONTACT */

.contact .contact-methods {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 88px;
  grid-auto-rows: 88px;
  gap: 100px;
  padding: 10px;
  margin-top: 50px;
}

.contact .contact-methods i {
  font-size: 50px;
}

.contact .contact-methods a {
  color: rgba(58, 54, 54, 0.9);
  text-decoration: none;
}

.contact .contact-methods .contact-item {
  padding: 5px;
  text-align: center;
  transition: 0.2s;
}

.contact .contact-methods .contact-item:hover {
  transform: scale(1.1);
}

/* Contact Section */

/* ---------------------------------------- FOOTER -------------------------------------------------- */

.footer {
  background-color: #625e5ee6;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .copyright {
  color: #fff;
  text-align: center;
  font-size: 0.9em;
}

.footer .copyright a {
  text-decoration: none;
  color: #fff;
}

/* COMPUTADORA */

/* AJUSTAR ABOUT-SECTION Y SKILL-SECTION A PANTALLAS MAS PEQUEÑAS */

/* SEGUIR TRABAJANDO EN LOS EFECTOS POR DEBAJO DE 1024PX */
@media screen and (min-width: 900px) and (max-width: 1024px) {
  h2,
  h4,
  p {
    text-align: center;
  }
  .header {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  .header .icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 1%;
  }

  .header .burger-icon {
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    font-size: 20px;
  }

  .header .icons .burger-icon i {
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
  }
  .header .icons .burger-icon i:hover {
    color: #bbbbbb;
  }

  /* CODIGO PARA EL NAV-RESPONSIVE */
  .header .list-container .list-nav {
    flex-direction: column;
    display: none;
    gap: 0;
  }
  .header .list-container {
    width: 100%;
  }
  .header .list-container a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 3;
  }
  .header .list-container .list-nav a:hover {
    color: inherit;
    background-color: #847f7ff8;
  }

  /* HACER APARECER CUANDO SE TOQUE EL BURGER-ICON */

  /* HACER QUE AL TOCAR DENTRO DEL LI VAYA IGUALMENTE A LA PARTE DESEADO Y LUEGO SE SUBA EL NAV-BAR */

  .header .list-container .list-nav li {
    transition: 0.2s;
    cursor: pointer;
  }

  .header .list-container .list-nav li:hover {
    transform: none;
  }
  /* CODIGO PARA EL ABOUT */
  .about .tecnologies .skills-container figure {
    text-align: center;
    flex-basis: 25%;
  }

  /* CODIGO PARA EL PORTFOLIO */
  .skills .projects {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: 275px 275px;
  }
  .skills .projects a:last-child {
    grid-column: 2 / span 1;
  }
}

@media screen and (max-width: 899px) and (min-width: 650px) {
  h2,
  h4,
  p {
    text-align: center;
  }
  .header {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  .header .icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 1%;
  }

  .header .burger-icon {
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    font-size: 20px;
  }

  .header .icons .burger-icon i {
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
  }
  .header .icons .burger-icon i:hover {
    color: #bbbbbb;
  }

  /* CODIGO PARA EL NAV-RESPONSIVE */
  .header .list-container .list-nav {
    flex-direction: column;
    display: none;
    gap: 0;
  }
  .header .list-container {
    width: 100%;
  }
  .header .list-container a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 3;
  }
  .header .list-container .list-nav a:hover {
    color: inherit;
    background-color: #847f7ff8;
  }

  /* HACER APARECER CUANDO SE TOQUE EL BURGER-ICON */

  /* HACER QUE AL TOCAR DENTRO DEL LI VAYA IGUALMENTE A LA PARTE DESEADO Y LUEGO SE SUBA EL NAV-BAR */

  .header .list-container .list-nav li {
    transition: 0.2s;
    cursor: pointer;
  }

  .header .list-container .list-nav li:hover {
    transform: none;
  }
  /* CODIGO PARA EL HOME */
  .home .img-name .background {
    flex-direction: column;
  }

  .home .img-name .background span {
    text-align: center;
  }

  /* CODIGO PARA EL ABOUT */
  .about .tecnologies .skills-container figure {
    text-align: center;
    flex-basis: 33.33%;
  }

  /* CODIGO PARA EL PORTFOLIO */
  .skills .projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 275px 275px;
  }

  /* CODIGO PARA CONTACTO */

  .contact .contact-methods {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 88px 88px;
    padding: 10px 70px;
    row-gap: 50px;
  }
}

@media screen and (min-width: 450px) and (max-width: 649px) {
  h2,
  h4,
  p {
    text-align: center;
  }
  .header {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  .header .icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 1%;
  }

  .header .burger-icon {
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    font-size: 20px;
  }

  .header .icons .burger-icon i {
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
  }
  .header .icons .burger-icon i:hover {
    color: #bbbbbb;
  }

  /* CODIGO PARA EL NAV-RESPONSIVE */
  .header .list-container .list-nav {
    flex-direction: column;
    display: none;
    gap: 0;
  }
  .header .list-container {
    width: 100%;
  }
  .header .list-container a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 3;
  }
  .header .list-container .list-nav a:hover {
    color: inherit;
    background-color: #847f7ff8;
  }

  /* HACER APARECER CUANDO SE TOQUE EL BURGER-ICON */

  /* HACER QUE AL TOCAR DENTRO DEL LI VAYA IGUALMENTE A LA PARTE DESEADO Y LUEGO SE SUBA EL NAV-BAR */

  .header .list-container .list-nav li {
    transition: 0.2s;
    cursor: pointer;
  }

  .header .list-container .list-nav li:hover {
    transform: none;
  }
  /* CODIGO PARA EL HOME */

  .no-home {
    padding: 100px 10px;
  }

  .home .img-name .background {
    flex-direction: column;
  }

  .home .img-name .background span {
    text-align: center;
  }

  /* CODIGO PARA EL ABOUT */
  .about .tecnologies .skills-container figure {
    text-align: center;
    flex-basis: calc(33.33% - 50px);
  }

  /* CODIGO PARA EL PORTFOLIO */
  .skills .projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 275px 275px;
  }

  /* CODIGO PARA CONTACTO */

  .contact .contact-methods {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 88px 88px;
    padding: 10px 70px;
    row-gap: 50px;
  }
}

@media screen and (max-width: 449px) {
  .header {
    height: 9%;
  }

  .header .icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 1%;
  }

  .header .burger-icon {
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    font-size: 20px;
  }

  .header .icons .burger-icon i {
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
  }
  .header .icons .burger-icon i:hover {
    color: #bbbbbb;
  }

  /* CODIGO PARA EL NAV-RESPONSIVE */
  .header .list-container .list-nav {
    flex-direction: column;
    display: none;
    gap: 0;
  }
  .header .list-container {
    width: 100%;
  }
  .header .list-container a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 3;
  }
  .header .list-container .list-nav a:hover {
    color: inherit;
    background-color: #847f7ff8;
  }

  /* HACER APARECER CUANDO SE TOQUE EL BURGER-ICON */

  /* HACER QUE AL TOCAR DENTRO DEL LI VAYA IGUALMENTE A LA PARTE DESEADO Y LUEGO SE SUBA EL NAV-BAR */

  .header .list-container .list-nav li {
    transition: 0.2s;
    cursor: pointer;
  }
}
